.tile-grid-expand-collapse-section {
    .tile-section {
        margin-top: 20px;
        font-size: 20px;
    }

    .Handicapped {
        background-color: blue;
    }

    .Male {
        background-color: whitesmoke;
    }

    .Female {
        background-color: pink;
    }

    .Krushi {
        background-color: green;
    }

    .Unknown {
        background-color: red;
    }

    .Health {
        background-color: ivory;
    }

    .abcd {
        background-color: red;
    }

    .yojana-description-section {
        font-size: medium;
        font-weight: 300;
        font-family: 'lato', lato, 'helvetica neue', helvetica, arial, sans-serif;
    }
    .row-header{
        font-weight: 800;
    }

    .expand-collapse-heading {
        background-color: lightblue;
    }

}