.expand-collapse-heading {
   background-color: lightblue;
}
.Handicapped{
   background-color: blue;
}
.Male{
   background-color: whitesmoke;
}
.Female{
   background-color: pink;
}
.Krushi{
   background-color: green;
}
.Unknown{
   background-color: red;
}
.Health{
   background-color: ivory;
}